<mat-card class="testata">

    <mat-card-content>
        <img src="../assets/PVV-logo-2.png" alt="Italian Trulli" id="testataLoading" class="logo">
    </mat-card-content>

</mat-card>
<mat-divider></mat-divider>
<mat-card>

    <mat-vertical-stepper>
        <mat-step label="Inserisci L'indirizzo della Votazione (LYRA)">
            <mat-form-field style="width: 350px;">
                <input matInput [(ngModel)]="lyra" placeholder="Poll Address (LYRA)">
            </mat-form-field>

            <div>

                <!--button mat-stroked-button matStepperNext><i class="material-icons">arrow forward</i></button-->
                <button mat-icon-button matStepperNext label="Next">
                    <i class="material-icons bigIcon">arrow_forward</i>
                </button>
            </div>
        </mat-step>
        <mat-step label="Inserisci la Password">
            <mat-form-field style="width: 350px;">
                <input matInput type="password" [(ngModel)]="password" placeholder="Password">
            </mat-form-field>
            <div>
                <button mat-icon-button matStepperNext aria-label="Next">
                    <i class="material-icons bigIcon">arrow_forward</i>
                </button>
            </div>
        </mat-step>
        <mat-step label="Risultati">
            <div>
                <div *ngIf="progress">
                    <mat-progress-bar mode="query"></mat-progress-bar><br>
                </div>
                <!--button mat-stroked-button class="buttonMe" (click)="getResults($event)">Risultati</button-->
                <button mat-icon-button matStepperNext aria-label="Next" (click)="getResults($event)">
                    <i class="material-icons bigIcon">bar_chart</i>
                </button>
            </div>
            <div class="results" *ngIf="showResults">
                <div style="float:right">
                    <button mat-icon-button matStepperNext aria-label="Chiudi" (click)="onNoClick()">
                        <i class="material-icons bigIcon">clear</i>
                    </button>
                </div>
                <h1 mat-dialog-title>{{poll.name}}</h1>
                <div mat-dialog-content>
                    <h2 mat-dialog-title>Descrizione:</h2>
                    <h3 class="mat-h3">{{poll.description}}</h3>
                    <h2 mat-dialog-title>Quesito:</h2>
                    <h3 class="mat-h3"> {{poll.question}}</h3>
                    <h2 mat-dialog-title>Risposte</h2>
                    <span *ngFor="let answer of results_to_send; let i=index;">
                        <h3 class="mat-h3">{{answer.k}} ({{answer.d}} votes) </h3>
                        <h3 class="mat-h3"><progress value="{{answer.v}}" max="100"></progress> {{answer.v}}%</h3>
                    </span>

                </div>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</mat-card>